<%- include('layout/header') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="/index" class="navbar-brand"><i class="fas fa-code me-2"></i>CrudApp</a>
        <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index"><i class="fas fa-home me-1"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/add"><i class="fas fa-user-plus me-1"></i>Add User</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><i class="fas fa-user-circle me-1"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if(message) {%>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
                <% } %>
            <div class="table-responsive">
                <% if (users) {%>
                    <table class="table table-striped text-center table-bordered my-3">
                        <thead>
                            <tr class="table-dark">
                                <th>Title</th>
                                <th>Images</th>
                                <th>Description</th>
                                <th>DatePublished</th>
                                <th>PageCount</th>
                                <th>Genre</th>
                                <th>bookId</th>
                                <th>Publisher</th>
                                <th>view</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((row, index) => { %>
                                <tr class="align-middle">
                                    <td><%= row.title %></td>
                                    <td><img src="<%= row.image %>" width="50" class="img-thumbnail" /></td>
                                    <td><%= row.description %></td>
                                    <td><%= row.datepublished %></td>
                                    <td><%= row.pagecount %></td>
                                    <td><%= row.genre %></td>
                                    <td><%= index %></td>
                                    <td><%= row.publisher %></td>
                                    <td><a href="/edit_views/<%= row._id %>" class="text-primary"><i class="fas fa-eye fa-lg mx-1"></i></a></td>
                                    <td><a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a></td>
                                    <td><a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a></td> 
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h1 class="text-center text-secondary mt-5">No users found in the database</h1>
                    <% } %>

            </div>
        </div>
    </div>
</div>


<%- include('layout/footer') %>



